@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Apple scrollbar */
}

.smooth-scroll { scroll-behavior: smooth; }

.row { @apply flex flex-row; }
.col { @apply flex flex-col; }

.center { @apply flex items-center justify-center; }
